%p
  You are a winner! You found
  = @words.length
  words!
%p
  The general emotional aura is 
  = eval_emotion(@emotion_index)
%table
  %thead
    %tr
      %th Word
      %th Count
  %tbody
  - @words.each do |word|
    %tr
      %td= "#{word[0]}"
      %td= "#{word[1]}"
%a{href: '/'}
  %h2 AGAIN!
